.bo {
    border: 2px solid black;
    width: 30vw;
    margin-left: 35vw;
    padding: 5px;
    display: none;
    background-color: blanchedalmond;
  }
  button
  {
      background-color: rgb(255, 255, 255);
  }
.wrong{
display:none;
  }